{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <article class="container p-a-1">
        <header>
            <h1>{% trans "Sign In" %}</h1>
        </header>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}"><strong>sign up</strong></a> first.{% endblocktrans %}</p>
        {% endif %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form class="form-horizontal col-xs-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                <fieldset class="form-group {% if field.errors %}has-danger{% endif %}">
                    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {{ field }}
                </fieldset>
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
        </form>
    </article>
{% endblock %}
